@model BookCart.Models.User
@{
    ViewData["Title"] = "Create";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>General Form</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
                    <li class="breadcrumb-item"><a href="~/User">User List</a></li>
                    <li class="breadcrumb-item active">Create User</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Quick Example</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input type="email" asp-for="Email" class="form-control" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label asp-for="Fullname"></label>
                                <input type="Fullname" class="form-control" asp-for="Fullname" placeholder="Fullname">
                            </div>
                            <div class="form-group">
                                <label asp-for="Phone"></label>
                                <input type="Phone" class="form-control" asp-for="Phone" placeholder="Phone">
                            </div>
                        <div class="form-group">
                            <label asp-for="Role">Role</label>
                            <select class="custom-select form-control-border" >
                                id="role"
                                asp-for="RoleId"
                                asp-items="ViewBag.Roles"
                            </select>
                        </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                </div>
                <!-- /.card -->
                </div>
                </div>
    </div>
    </section>
